body {
  margin: 0;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background:rgba(0,0,0,1);
  color: white;
  width: 100%;
  position: fixed;
  z-index: 999
}

header h1{
  margin: 0;
  padding: 20px;
  color: white;
}

header a{
  color: white;
  border-bottom: none;
  text-decoration: none;
}

header a:hover{
  border: 0.5px solid rgb(164, 164, 164);
}

/* header ul{
  margin: 0;
  position: fixed;
} */

.main{
  background-color: white;
  padding-top: 80px;
  padding-left: 10px;
}

.main h2{
  margin-top: 20px;
}

.items {
  margin-bottom: 150px;
}

.rank{
  font-weight: 200;
}

.rate{
  color: rgb(114, 114, 0);
  margin: 0;
}

.price{
  color: rgb(193, 56, 50);
  margin-top: 0;
}

.item {
  /* margin: px; */
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  width: 10em;
}

.item img{
  width: 150px;
  border: 0.5px solid rgb(175, 175, 175);
  margin: 0;
}

.imgURL:hover{
  opacity: 0.5;
}

.titleURL{
  color: black;
}

/* .titleURL:hover{

} */

.title{
  /* display: inline-block; */
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

.title p{
  margin: 0;
}

.detail {
  height: 1000px;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 100px;
}

.detail h1{
  display: inline-block;
  margin: 140px 10px 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.detail h2{
  display: inline;
}

.detail p{
  display: inline;
}

.detail img{
  margin: 20px 0 10px 10px;
  width: 150px;
}


footer{
  width: 100%;
  height: 100px;
  background-color: rgb(182, 182, 182);
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

footer ul{
  /* margin: 0; */
  padding-left: 30px;
}
