body {
  margin: 0;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #d9d9d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background:rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 2.5px 1.4rem #d9d9d9;
}

header h2{
  margin: 0;
  padding: 10px;
}

header a{
  color: red;
  border-bottom: none;
  text-decoration: none;
  font-family: fantasy, Courier, sans-serif;
}

header a:hover{
  border: 0.5px solid rgb(164, 164, 164);
}

header input{
  width: 50%;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* header ul{
  margin: 0;
  position: fixed;
} */

.main{
  background-color: #d9d9d9;
  padding-top: 80px;
  padding-left: 10px;
  /* margin-bottom: 1000px; */
}

.main h2{
  margin: 30px;
  /* padding-top: 40px; */
  font-size: 2.5rem;
}

.cols{
  margin: 100px;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 100px;
  padding: 20px;
}

.items {
  margin-bottom: 20px;
}

.rank{
  font-weight: 200;
}

.rate{
  color: rgb(172, 172, 54);
  margin: 0;
}

.price{
  color: rgb(193, 56, 50);
  margin-top: 0;
}

.item {
  /* margin: px; */
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  width: 10em;
}

.item img{
  width: 150px;
  border: 0.5px solid rgb(175, 175, 175);
  margin: 0;
}

.imgURL:hover{
  opacity: 0.5;
}

.titleURL{
  color: black;
}

/* .titleURL:hover{

} */

.title{
  /* display: inline-block; */
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

.title p{
  margin: 0;
}

.detail {
  height: 1000px;
  /* margin: 20px;
   */
  margin-bottom: 100px;
}

.detailBox{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 200px;
  padding: 20px;
}

.detail h1{
  display: inline-block;
  margin: 30px 20px 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.detail h2{
  display: inline;
}

.detail .price{
  font-size: 30px;
}

.detail .rate{
  font-size: 20px;
}

summary{
  width: 50%;
  margin: 0 auto;
  color: #797979;
  padding-left: 30%;
  font-size: 20px;
}




.detail p{
  display: inline;
}

.detail img{
  margin: 20px 20px 0 10px;
  width: 30%;
}

.ratePrice{
  display: inline-block;
}

.search{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 150px;
  border-radius: 1rem;
  padding: 20px;
}

.search h2{
  margin: 30px;
  font-size: 2.5rem;
}

footer{
  width: 100%;
  height: 100px;
  background-color: 	#F4F4F4;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  display: none;
}

footer ul{
  /* margin: 0; */
  padding-left: 30px;
}

.detailButton{
  display: block;
  margin: 100px;
}
