body {
  margin: 0;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background:rgba(0,0,0,1);
  color: white;
  width: 100%;
  position: fixed;
  z-index: 999
}

header h1{
  margin: 0;
  padding: 20px;
  color: white;
}

header a{
  color: white;
  border-bottom: none;
  text-decoration: none;
}

header a:hover{
  border: 0.5px solid rgb(164, 164, 164);
}

/* header ul{
  margin: 0;
  position: fixed;
} */

.main{
  background-color: white;
  padding-top: 80px;
  padding-left: 10px;
}

.main h3{
  margin: 0;
}

.price{
  color: rgb(193, 56, 50);
  margin-top: 0;
}

.item {
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
}
/* .main .title{
  display: block;
} */
/* .main img{
  width: 100px; */

/* } */

footer{
  width: 100%;
  height: 100px;
  background-color: rgb(182, 182, 182);
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

footer ul{
  /* margin: 0; */
  padding-left: 30px;
}
